@include aoa-bg-series($bg__classes,$bg__aoa,0,"bottom right");

*{
    font-family: $font-main__family;
}

%bg-blend{
    @include background-blend($bg__blend-type, $color__bg-1);
}
%bg-scroll{
    background-attachment: scroll;
}

.about{
    &-s1{
        @extend %bg-blend;
        @extend %bg-scroll;
        background-position:top center;
    }
    &-s2{
        @extend %bg-blend;
        @extend %bg-scroll;
        background-position:bottom center;
    }
}
.classes{
    &-s1{
        @extend %bg-blend;
        @extend %bg-scroll;
    }
    &-s2{
        @extend %bg-scroll;
        background-blend-mode: $bg__blend-type--soft;
        background-position:bottom center;
        background-size: inherit;
    }
    &-s3{
        @extend %bg-scroll;
        background-blend-mode: $bg__blend-type--diff;
        background-position:bottom center;
        background-size: inherit;
    }
    &-s4{
        @extend %bg-scroll;
        background-blend-mode: $bg__blend-type--soft;
        background-position:bottom center;
        background-size: inherit;
    }
    &-s5{
        @extend %bg-scroll;
        background-blend-mode: $bg__blend-type--diff;
        background-position:bottom center;
        background-size: inherit;
    }
    &-s6{
        @extend %bg-scroll;
        background-blend-mode: $bg__blend-type--soft;
        background-position:bottom center;
        background-size: inherit;
    }
}
.comingsoon{
    &-s1{
        @extend %bg-blend;
    }
}
.contact{
    &-s1{
        @extend %bg-blend;
        @extend %bg-scroll;
        background-position:top center;
    }
    &-s2{
        @extend %bg-blend;
        @extend %bg-scroll;
        background-position:bottom center;
    }
}
.error{
    &-s1{
        @extend %bg-blend;
    }
}
.font{
    &-logo{
        &::first-letter{
            color: $color__red;
            font-weight: 700 !important;
        }
        @include set-font-params($font-logo__family,$font-logo__size);
        font-weight: 100!important;
        font-variant: small-caps;
        opacity: 0.7;

    }
    &-menu{
        @include set-font-params($font-main__family,$font-main__size);
    }
    &-thin{
        font-weight: $font__weight--thin;
    }
}
.hover{
    &-red{
        &:hover{
            color: $color__red !important;
        }        
    }
}
.img{
    &-fit{
        height:100%;
        object-fit: cover;
        width:100%;
    }
}
.index{
    &-s1{
        @extend %bg-blend;
        @extend %bg-scroll;
    }
    &-s2{
        @extend %bg-blend;
        @extend %bg-scroll;
        background-position:bottom center;
    }
    &-s3{
        @extend %bg-blend;
        @extend %bg-scroll;
        background-position:bottom center;
    }
    &-s4{
        @extend %bg-blend;
        @extend %bg-scroll;
        background-position:top center;
    }
    &-s5{
        @extend %bg-scroll;
        background-blend-mode: $bg__blend-type--soft;
        background-position:bottom center;
        background-size: inherit;
    }
    &-s6{
        @extend %bg-scroll;
        background-blend-mode: $bg__blend-type--diff;
        background-position:bottom center;
        background-size: inherit;
    }
}
.minh{
    &-50vh{
        min-height: 50vh;
    }   
    &-75vh{
        min-height: 75vh;
    }
}
.nav{
    &-link{
        &:hover{
            color:$color__red !important;
        }
    }
}
.navbar{
    &-toggler{
        &-icon{
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
        }
    }
}
.opacity{
    &-7{
        opacity: 0.7;
    }
    &-8{
        opacity: 0.8;
    }
}
.privacy{
    &-container{
        background-color: $color__container-bg !important;
        opacity: 0.8;
    }
    &-s1{
        @include calc-param-add(min-height,$section__min-height,$header__height);
        @extend %bg-blend;
    }
}
.schedule{
    &-s1{
        @extend %bg-blend;
        @extend %bg-scroll;
    }
    &-s2{
        @extend %bg-scroll;
        background-blend-mode: $bg__blend-type--soft;
        background-position:bottom center;
        background-size: inherit;
    }
}
.table{
    &-striped{
        & tr:nth-child(2n+2){
            background-color: lighten($color__gray,20%);
            color: $color__white;
        }
    }
}
.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}
.training{
    &-s1{
        @extend %bg-blend;
        @extend %bg-scroll;
        background-position:top center;
    }
    &-s2{
        @extend %bg-blend;
        @extend %bg-scroll;
        background-position:bottom center;
    }
    &-s3{
        @extend %bg-scroll;
        background-blend-mode: $bg__blend-type--soft;
        background-position:bottom center;
        background-size: inherit;
    }
    &-s4{
        @extend %bg-scroll;
        background-blend-mode: $bg__blend-type--diff;
        background-position:bottom center;
        background-size: inherit;
    }
}
body{
    background-color: $color__bg-1;
}